/* font-family: 'Roboto', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Changa One', cursive;
font-family: 'Baloo', cursive;
font-family: 'Slackey, cursive */

body {
  font-family: 'Quicksand', sans-serif;
  background-color: transparent;
}

#index-banner {
  font-family: 'Slackey', cursive;
  padding: 10px;
  height: 400px;
  /* margin-bottom: 30px; */
}

img {
  width: 100px;
}

.container2 {
  width: 100%;
  max-width: 960px;
}

.image {
  width: 100%;
  height: auto;
}

/* hover details */
.containerAB {
  position: relative;
  width: 100%;
}

.image2 {
  opacity: .25;
  display: block;
  width: 25%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.containerAB:hover .image {
  opacity: 0.2;
}

.containerAB:hover .middle {
  opacity: 1;
}

.text {
  background-color: #white;
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 16px 16px;
}
/* end hover details */


h1 {
  font-size: 120px;
  margin-bottom: 0px;
  text-shadow: 3px 3px darkslategray;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px teal;
}

h5,
h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 30px;
}

h4 {
  color: black;
  font-size: 25px;
}

#LearnMore {
  max-width: 960px;
  width: 100%;
  margin-top: 30px;
  text-align: justify;
  line-height: 5px;
}

footer {
  margin-top: 50px;
  padding: 10px;
  width: 100%;
  font-size: 20px;
  text-align: left;
  background-color: lightgrey;  
}

#github{
  width: 40px;
}

#siteBanner {
  width: 400px;
  padding: 10px;
  font-size: 20px;
  text-align: left;
  background-color: lightgrey;
}

.highlight {
  font-weight: bold;

}

#legend {
  width: 200px;
}

#download-button {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

nav {
  box-shadow: 0px;
  background: #bdc3c7;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2c3e50, #bdc3c7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2c3e50, #bdc3c7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

table {
  width: 100%;
  max-width: 960px;
}

.parallax-container {
  position: relative;
  overflow: hidden;
  height: 500px;
}

.parallax-container .parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.parallax-container .parallax img {
  opacity: 1;
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.section.no-pad-bot {
  padding-bottom: 0;
}

/* React specific details */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}