/* font-family: 'Roboto', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Changa One', cursive;
font-family: 'Baloo', cursive;
font-family: 'Slackey, cursive */

body {
  font-family: 'Quicksand', sans-serif;
  background-color: transparent;
}

.containerForm {
  width: 60%;
  max-width: 960;
  margin: 0 auto;
  clear: both;
  margin-top: -175px;
  background-color: whitesmoke;
}

.dashboard {
   padding: 10px;
  text-align: left;
}

#signup {
  float: right;
  margin-right: 40px;
  cursor: pointer;
  margin-top: 20px;
}

#mainmapFR {
  width: 100%;
  padding: 10px;
}

.tabs,
.tab col {
  font-color: black;
}

#title {
  text-align: left;
  font-size: 35px;
  margin-left: 10px;
}

#index-banner {
  font-family: 'Slackey', cursive;
  padding: 10px;
  height: 400px;
  /* margin-bottom: 30px; */
}

img {
  width: 100px;
}

.container2 {
  width: 100%;
  max-width: 960px;
}

.image {
  width: 100%;
  height: auto;
}

/* hover details */
.containerAB {
  position: relative;
  width: 100%;
}

.image2 {
  opacity: .25;
  display: block;
  width: 25%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.containerAB:hover .image {
  opacity: 0.2;
}

.containerAB:hover .middle {
  opacity: 1;
}

.text {
  background-color: #white;
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 16px 16px;
}
/* end hover details */


h1 {
  font-size: 120px;
  margin-bottom: 0px;
  text-shadow: 3px 3px darkslategray;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px teal;
}

h5,
h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 30px;
}

h4 {
  color: black;
  font-size: 25px;
}

h6 {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

#LearnMore {
  max-width: 960px;
  width: 100%;
  margin-top: 30px;
  text-align: justify;
  line-height: 5px;
}

footer {
  margin-top: 50px;
  padding: 10px;
  width: 100%;
  font-size: 20px;
  text-align: left;
  background-color: lightgrey;  
}

#github{
  width: 40px;
}

#siteBanner {
  width: 400px;
  padding: 10px;
  font-size: 20px;
  text-align: left;
  background-color: lightgrey;
}

.highlight {
  font-weight: bold;

}

#legend {
  width: 200px;
}

#download-button {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

nav {
  box-shadow: 0px;
  background: #bdc3c7;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2c3e50, #bdc3c7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2c3e50, #bdc3c7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

table {
  width: 100%;
  max-width: 960px;
}

.parallax-container {
  position: relative;
  overflow: hidden;
  height: 500px;
}

.parallax-container .parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.parallax-container .parallax img {
  opacity: 1;
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.section.no-pad-bot {
  padding-bottom: 0;
}

/* React specific details */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.tabs {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 48px;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  white-space: nowrap;
}

.tabs.tabs-transparent {
  background-color: transparent;
}

.tabs.tabs-transparent .tab a,
.tabs.tabs-transparent .tab.disabled a,
.tabs.tabs-transparent .tab.disabled a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.tabs.tabs-transparent .tab a:hover,
.tabs.tabs-transparent .tab a.active {
  color: #fff;
}

.tabs.tabs-transparent .indicator {
  background-color: #fff;
}

.tabs.tabs-fixed-width {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.tabs.tabs-fixed-width .tab {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.tabs .tab {
  display: inline-block;
  text-align: center;
  line-height: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.tabs .tab a {
  color: black;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: color .28s ease, background-color .28s ease;
  transition: color .28s ease, background-color .28s ease;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: rgba(246, 178, 181, 0.2);
  outline: none;
}

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: teal;
  color: white;
}

.tabs .tab.disabled a,
.tabs .tab.disabled a:hover {
  color: gray;
  cursor: default;
  background-color: transparent;
}

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: teal;
  will-change: left, right;
}
